{% extends 'base/base.html' %}

{% block title %}Edytuj profil{% endblock %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Edytuj dane</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Dane użytkownika</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form method="post" class="form-horizontal form-label-left">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_email">
                                E-mail:
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="email" name="email" id="id_email" data-parsley-id="1" value="{{ form.email.value }}">
                                {% with form.email.errors as errors %}
                                    <ul class="parsley-errors-list filled" id="parsley-id-1">
                                        {% for error in errors %}
                                            <li class="parsley-required">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endwith %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_first_name">Imię:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" name="first_name" id="id_first_name" data-parsley-id="2" value="{{ form.first_name.value|default:'' }}">
                                {% with form.first_name.errors as errors %}
                                    <ul class="parsley-errors-list filled" id="parsley-id-2">
                                        {% for error in errors %}
                                            <li class="parsley-required">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endwith %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_last_name">Nazwisko:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" name="last_name" id="id_last_name" data-parsley-id="3" value="{{ form.last_name.value|default:'' }}">
                                {% with form.last_name.errors as errors %}
                                    <ul class="parsley-errors-list filled" id="parsley-id-3">
                                        {% for error in errors %}
                                            <li class="parsley-required">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endwith %}
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-success" type="submit">Zmień</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
