{% extends 'base/base.html' %}

{% block title %}Zmień hasło{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_old_password">Aktualne hasło:</label>
            <input type="password" name="old_password" id="id_old_password" maxlength="255" required>
            {% with form.old_password.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_new_password1">Nowe hasło:</label>
            <input type="password" name="new_password1" id="id_new_password1" maxlength="255" required>
            {% with form.new_password1.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_new_password2">Powtórz nowe hasło:</label>
            <input type="password" name="new_password2" id="id_new_password2" maxlength="255" required>
            {% with form.new_password2.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <button type="submit">Zatwierdź</button>
    </form>
{% endblock %}
