{% extends 'base/base.html' %}

{% block title %}Profil użytkownika{% endblock %}

{% block content %}
    <div>
        <h2>Nazwa użytkownika: </h2>
        <span>{{ request.user.username }}</span>
    </div>

    <div>
        <h2>Email: </h2>
        <span>{{ request.user.email }}</span>
    </div>

    <div>
        <h2>Imię: </h2>
        <span>{{ request.user.first_name|default:'Nie podano' }}</span>
    </div>

    <div>
        <h2>Nazwisko: </h2>
        <span>{{ request.user.last_name|default:'Nie podano' }}</span>
    </div>

    <div>
        <h2>Zarejestrowany od: </h2>
        <span>{{ request.user.date_joined|date:'l d E Y' }}</span>
    </div>

    <div>
        <h2>Ostatnio zalogowany: </h2>
        <span>{{ request.user.last_login|date:'l d E Y G:i' }}</span>
    </div>

    <div>
        <h2>Moje liczniki: </h2>
        <a href="{% url 'meter_management:add_meter' %}">Dodaj</a>
        {% for meter in user_meters %}
            <span>
                Numer seryjny: <a href="{%  url 'meter_management:meter_data_view' meter.id %}">{{ meter.serial_number }}</a>
                <a href="{% url 'meter_management:remove_meter' meter.id %}">Usuń</a>
            </span>
        {% empty %}
            <span>Nie masz żadnych dodanych liczników.</span>
        {% endfor %}
    </div>

    <a href="{% url 'accounts:edit_user_data_view' %}">Edytuj dane</a>
    <a href="{% url 'accounts:password_change' %}">Zmień hasło</a>

    <a href="{% url 'contact:new_problem' %}">Kontakt</a>
{% endblock %}
