{% extends 'base/backend.html' %}

{% block title %}Szczegóły wyłączenia{% endblock %}

{% block content %}

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Aktualne wyłączenia</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p>Od: <b>{{ breakdown.start_at|date:'l d E Y H:i' }}</b> do: <b>{{ breakdown.end_at|date:'l d E Y H:i' }}</b></p>
            {% if breakdown.reason %}
            <p>
            <h4>Powód:</h4>
            {{ breakdown.reason }}
            </p>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Lista stacji</th>
                </tr>
                </thead>
                <tbody>
                {% for station in breakdown.stations.all %}
                <tr>
                    <th scope="row">{{ station.address }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-xs-12 col-no-pd">
                <a href="{% url 'backend:edit_breakdown_view' breakdown.id %}" class="btn btn-warning">Edytuj</a>
            </div>
            <div class="col-xs-12 col-no-pd">
                <a href="{% url 'backend:backend_breakdowns_list_view' %}">&laquo; Powrót do listy wyłączeń</a>
            </div>
        </div>
    </div>
</div>

    <!--<a href="{% url 'backend:backend_breakdowns_list_view' %}">&laquo; Powrót do listy wyłączeń</a>-->
    <!--<a href="{% url 'backend:edit_breakdown_view' breakdown.id %}">Edytuj</a>-->
    <!--<div>-->
        <!--<h3>Od: {{ breakdown.start_at|date:'l d E Y H:i' }}</h3>-->
        <!--<h3>Do: {{ breakdown.end_at|date:'l d E Y H:i' }}</h3>-->
        <!--{% if breakdown.reason %}-->
            <!--<div>-->
                <!--<h4>Powód:</h4>-->
                <!--<p>{{ breakdown.reason }}</p>-->
            <!--</div>-->
        <!--{% endif %}-->
    <!--</div>-->

    <!--<div>-->
        <!--<h3>Lista stacji podlegających wyłączeniu:</h3>-->
        <!--<ul>-->
            <!--{% for station in breakdown.stations.all %}-->
                <!--<li>{{ station.address }}</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</div>-->
{% endblock %}
