{% extends 'base/backend.html' %}

{%  load news %}

{% block title %}Nowe wyłączenie{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_start_at">Od:</label>
            <input id="id_start_at" name="start_at" type="datetime" value="{{ form.start_at.value|default:''|date:'Y-m-d H:i:s' }}" required>
            {% with form.start_at.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_end_at">Do:</label>
            <input id="id_end_at" name="end_at" type="datetime" value="{{ form.end_at.value|default:''|date:'Y-m-d H:i:s' }}" required>
            {% with form.end_at.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_reason">Powód:</label>
            <textarea cols="40" id="id_reason" name="reason" rows="10" required="">{{ form.reason.value|default:'' }}</textarea>
            {% with form.reason.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_stations">Powiązane stacje:</label>
            <select multiple="multiple" id="id_stations" name="stations">
                {% with form.stations.value|strings_list_as_int_list as stations_list %}
                    {% for station_id, station_label in form.stations.field.choices %}
                        <option value="{{ station_id }}" {% if station_id in stations_list %}selected{% endif %}>{{ station_label }}</option>
                    {% endfor %}
                {% endwith %}
            </select>
            {% with form.stations.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <button type="submit">Zatwierdź</button>
    </form>
{% endblock %}
