{% extends 'base/backend.html' %}

{% load news %}

{% block title %}Nowy wątek{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ogłoszenie</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form method="post" class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_users">Użytkownik:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control col-md-7 col-xs-12" multiple="multiple" id="id_users" name="users">
                                {% with form.users.value|strings_list_as_int_list as users_list %}
                                {% for user_id, username in form.users.field.choices %}
                                <option value="{{ user_id }}" {% if user_id in users_list %}selected{% endif %}>{{ username }}</option>
                                {% endfor %}
                                {% endwith %}
                            </select>
                            {% with form.users.errors as errors %}
                            <ul>
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_title">Tytuł:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" id="id_title" maxlength="200" name="title" type="text" value="{{ form.title.value|default:'' }}">
                            {% with form.title.errors as errors %}
                            <ul>
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_summary">Podsumowanie:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" id="id_summary" maxlength="500" name="summary" type="text" value="{{ form.summary.value|default:'' }}" required>
                            {% with form.summary.errors as errors %}
                            <ul>
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_content_body">Treść (markdown):</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control col-md-7 col-xs-12" cols="40" id="id_content_body" name="content_body" rows="10" required="">{{ form.content_body.value|default:'' }}</textarea>
                            {% with form.content_body.errors as errors %}
                            <ul>
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endwith %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_breakdowns">Powiązane przerwy w dostawie:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control col-md-7 col-xs-12"  multiple="multiple" id="id_breakdowns" name="breakdowns">
                                {% with form.breakdowns.value|strings_list_as_int_list as breakdowns_list %}
                                {% for breakdown_id, breakdown_label in form.breakdowns.field.choices %}
                                <option value="{{ breakdown_id }}" {% if breakdown_id in breakdowns_list %}selected{% endif %}>{{ breakdown_label }}</option>
                                {% endfor %}
                                {% endwith %}
                            </select>
                            {% with form.breakdowns.errors as errors %}
                            <ul>
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endwith %}
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
