{% extends 'base/backend.html' %}

{% block title %}Lista aktualności{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lista aktualności</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form action="{% url 'backend:search_users_view' %}" method="get" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <input type="text" name="q" id="id_q" placeholder="Szukaj..." {% if is_searched %}value="{{ search_phrase }}"{% endif %} class="form-control col-md-7 col-xs-12">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <button type="submit" class="btn btn-success">Szukaj</button>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                </form>
                {% if notices %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Tytuł</th>
                            <th>Data utworzenia</th>
                            <th>Treść</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for notice in notices %}
                        <tr>
                            <td><a href="{% url 'backend:backend_notice_view' notice.id %}">{{ notice.title }}</a></td>
                            <td>{{ notice.created_at }}</td>
                            <td>{{ notice.summary }}</td>
                            <td><a href="{% url 'backend:edit_notice_view' notice.id %}">Edytuj</a></td>
                        </tr>
                        {% empty %}
                            <tr>Brak ogłoszeń</tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% include 'structure/pagination.html' %}
                <a href="{% url 'backend:create_notice_view' %}" class="btn btn-success">Dodaj nową</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
