{% extends 'base/base.html' %}

{% block title %}Zaloguj{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p class="error-validation">Błędny login i/lub hasło.</p>
        {% endif %}
        <div>
            <label for="id_username">Nazwa użytkownika:</label>
            <input type="text" name="username" id="id_username" maxlength="30" value="{{ form.username.value|default:'' }}">
        </div>

        <div>
            <label for="id_password">Hasło:</label>
            <input type="password" name="password" id="id_password" maxlength="255">
        </div>

        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Zaloguj</button>
    </form>

    <div>
        <a href="{% url 'authentication:password_reset' %}">Nie pamiętasz hasła?</a>
    </div>
{% endblock %}
