{% extends 'base/backend.html' %}

{% block title %}Lista aktualności{% endblock %}

{% block content %}
    <a href="">Dodaj nowy licznik</a>
    <div class="mid_center">
        <form method="get">
            <div class="col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" id="id_q" placeholder="Szukaj..." {% if is_searched %}value="{{ search_phrase }}"{% endif %}>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Szukaj</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    {% if meters %}
        {% if is_searched %}
            <span>Liczniki spełniające kryterium {{ search_phrase }}:</span>
        {% endif %}
        <ul>
            {% for meter in meters %}
                <li>
                    <a href="{% url 'backend:meters_details_view' meter.id %}">
                        <p>Numer seryjny: {{ meter.serial_number }}</p>
                        <p>Model: {{ meter.model_name }}</p>
                        <p>Aktywny: {{ meter.is_active|yesno:'Tak,Nie' }}</p>
                        <p>Data wykrycia przez AMI: {{ meter.detection_report_date|date:'d E Y' }}</p>
                        <p>Podłączony do stacji: {{ meter.station }}</p>
                    </a>
                    <a href="{% url 'backend:edit_meter_view' meter.id %}">Edytuj</a>
                    <a href="{% url 'backend:delete_meter_view' meter.id %}">Usuń</a>
                    <a href="{% url 'backend:change_meter_owners_view' meter.id %}">Edytuj listę właścicieli</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if is_searched %}
            <span>Nie znaleziono aktualności pasujących do frazy: {{ search_phrase }}</span>
        {% else %}
            <span>Brak aktualności.</span>
        {% endif %}
    {% endif %}

    {% include 'structure/pagination.html' %}
{% endblock %}
