{% extends 'base/backend.html' %}

{% block title %}Lista wątków{% endblock %}

{% block content %}
    {% if problems %}
        <ul>
            {% for problem in problems %}
                {% with problem.get_last_message as last_message %}
                    <li>
                        <a href="{% url 'backend:backend_problem_messages_view' problem.id %}">
                            <p>Rozwiązany: {{ problem.solved|yesno:'Tak,Nie' }}</p>
                            <p>Żądanie elektryka: {{ problem.electrician_needed|yesno:'Tak,Nie' }}</p>
                            <p>Data ostatniej wiadomości: {{ last_message.created_at }}</p>
                            <p>Ostatnia wiadomość: {{ last_message.content }}</p>
                        </a>
                        {% if not problem.solved %}
                            <form method="post" action="{% url 'backend:backend_set_as_solved' %}">
                                {% csrf_token %}
                                <input type="hidden" name="problem_id" value="{{ problem.id }}">
                                <input type="hidden" name="redirect_to" value="{{ request.path }}">
                                <button class="btn btn-success">Oznacz jako rozwiązany</button>
                            </form>
                        {% endif %}
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <span>Brak wątków.</span>
    {% endif %}

    {% include 'structure/pagination.html' %}
{% endblock %}
