{% extends 'base/base.html' %}

{% block title %}Dane podstawowe{% endblock %}

{% block content %}
    <h1>Cześć!</h1>
	{% if error %}
		<h3>{{ error }}</h3>
	{% else %}
		<!--biezace zuzycie-->
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Bieżace zużycie</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="dashboard-widget-content">
						<ul class="quick-list">
							<li>Ostatni odczyt: 12.12.2016</li>
							<li>Wskazanie: 4443.5 kWh</li>
							<li>Limit: 5000 kWh</li>
						</ul>

						<div class="sidebar-widget">
							<h4>Zużycie</h4>
							<canvas width="150" height="80" id="foo2" class="" style="width: 160px; height: 100px;"></canvas>
							<div class="goal-wrapper">
								<span id="gauge-text2" class="gauge-value pull-left">5000</span>
								<span class="gauge-value pull-left">kWh</span>
								<span class="gauge-value pull-right">kWh</span>
								<span id="goal-text2" class="goal-value pull-right">5000</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--koniec biezace uzycie-->
			<div>
				<h3>Garść informacji o liczniku</h3>
				<p>Ostatni miesiąc: {{ last_month }}</p>
				<p>Limit MOCY: {{ current_limit }}</p>
				<p>Wartość ostatniego pomiaru: {{ last_meter_data_value }}</p>
				<p>Data ostatniego pomiaru: {{ last_meter_data_time|date:"l d E Y H:i" }}</p>
			</div>

			<div>
				<h3>Twoja taryfa</h3>
				<p>Nazwa: {{ tariff.name }}</p>
				<div>
					{% for description, hours_list in tariff_definition_dict.items %}
						<p>{{ description }}</p>
						{% for hours_dict in hours_list %}
							<p>Od: {{ hours_dict.start_hour|time:'H:i' }}</p>
							<p>Do: {{ hours_dict.end_hour|time:'H:i' }}</p>
						{% endfor %}
					{% endfor %}
				</div>
			</div>

			<div>
				<h3>Ustawione alarmy</h3>
				{% for alarm in alarms %}
					<p>Ustawiony dla licznika: {{ alarm.meter.serial_number }}</p>
					<p>Limit: {{ alarm.limit }}</p>
					<p>Okres: {{ alarm.period }} {{ alarm.get_period_type_description }}</p>
				{% empty %}
					<p>Brak ustawionych alarmów :(</p>
				{% endfor %}
			</div>
	{% endif %}
{% endblock %}
