{% extends 'base/base.html' %}

{% block title %}Lista wątków{% endblock %}

{% block content %}
    <a href="{% url 'contact:new_problem' %}">Napisz do Nas</a>
    {% if problems %}
        <ul>
            {% for problem in problems %}
                {% with problem.get_last_message as last_message %}
                    <li>
                        <a href="{% url 'contact:problem_messages_view' problem.id %}">
                            <span>Rozwiązany: {{ problem.solved|yesno:'Tak,Nie' }}</span>
                            <span>Żądanie elektryka: {{ problem.solved|yesno:'Tak,Nie' }}</span>
                            <span>Data ostatniej wiadomości: {{ last_message.created_at }}</span>
                            <span>Ostatnia wiadomość: {{ last_message.content }}</span>
                        </a>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <span>Brak wątków.</span>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination">
			{% if page_obj.has_previous %}
				<a href="?strona={{ page_obj.previous_page_number }}">&laquo; poprzednia</a>
			{% else %}
				<span>&laquo; poprzednia</span>
			{% endif %}
			|
			{% if page_obj.has_next %}
				<a href="?strona={{ page_obj.next_page_number }}">następna strona &raquo;</a>
            {% else %}
                <span>następna strona &raquo;</span>
			{% endif %}
        </div>
	{% endif %}
{% endblock %}
