{% extends 'base/base.html' %}

{% block title %}Zużycie{% endblock %}

{% block content %}
    {% if main_meter_error %}
        <span>{{ main_meter_error }}</span>
    {% else %}
        {% if meter_data %}
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="id_start_date">Od</label>
                    <input id="id_start_date" name="start_date" type="date" value="{{ form.start_date.value|default:'' }}">
                </div>
                <div>
                    <label for="id_end_date">Do</label>
                    <input id="id_end_date" name="end_date" type="date" value="{{ form.end_date.value|default:'' }}">
                </div>
                <button type="submit">Zmień</button>
            </form>
            <p>{{ meter_data }}</p>
        {% else %}
            <h1>Wybierz daty i kliknij "Pokaż" aby zobaczyć zużycie w wybranym przez siebie okresie</h1>
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="id_start_date">Od</label>
                    <input id="id_start_date" name="start_date" type="date" value="{{ form.start_date.value|default:'' }}">
                    {% with form.start_date.errors as errors %}
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endwith %}
                </div>
                <div>
                    <label for="id_end_date">Do</label>
                    <input id="id_end_date" name="end_date" type="date" value="{{ form.end_date.value|default:'' }}">
                    {% with form.end_date.errors as errors %}
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endwith %}
                </div>
                <button type="submit">Pokaż</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
