{% extends 'base/base.html' %}

{% block title %}Zużycie{% endblock %}

{% block content %}
    {% if main_meter_error %}
        <span>{{ main_meter_error }}</span>
    {% else %}
        {% if meter_data %}
            <form class="hidden" method="post">
                {% csrf_token %}
                <div>
                    <label for="id_start_date">Od</label>
                    <input id="id_start_date" name="start_date" type="date" value="{{ form.start_date.value }}">
                </div>
                <div>
                    <label for="id_end_date">Do</label>
                    <input id="id_end_date" name="end_date" type="date" value="{{ form.end_date.value }}">
                </div>
                <button type="submit">Zmień</button>
            </form>
            <p>Zużycie: {{ meter_data }}</p>
            <p>Suma: {{ user_meter_data_sum }}</p>
            <p>Średnia innych: {{ others_avg }}</p>
			<p>Twoja taryfa: {{ current_tariff.name }}</p>
            <p>Taryfy: {{ tariff_data }}</p>
        {% else %}
            <form class="hidden" method="post">
                {% csrf_token %}
                <div>
                    <label for="id_start_date">Od</label>
                    <input id="id_start_date" name="start_date" type="date" value="{{ form.start_date.value|default:'' }}">
                    {% with form.start_date.errors as errors %}
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endwith %}
                </div>
                <div>
                    <label for="id_end_date">Do</label>
                    <input id="id_end_date" name="end_date" type="date" value="{{ form.end_date.value|default:'' }}">
                    {% with form.end_date.errors as errors %}
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endwith %}
                </div>
                <button type="submit">Pokaż</button>
            </form>
        {% endif %}
    {% endif %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Bieżace zużycie</h2>
                <div class="filter">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:280px">
                        <div id="placeholder1" class="demo-placeholder"></div>
                    </div>
                    <div class="tiles" id="statisticTiles">
                        <div class="col-md-4 tile">
                            <div class="form-group col-sm-12 col-no-pd">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12 col-no-pd">Moc źródła</label>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-no-pd">
                                    <input type="text" id="powerSource" class="form-control" placeholder="Moc (w kW)">
                                </div>
                            </div>
                            <a href="#" id="simulateEco" class="btn btn-success">Symuluj alternatywne źródła energii</a>
                        </div>
                        <div class="col-md-4 tile">
                            <span>Suma w wybranym przedziale czasu</span>
                            <h2 id="yourSum"></h2>
                            <div class="ecoSum hidden">
                                <span>W tym przedziale wyprodukowałbyś</span>
                                <h2 id="producedSum"></h2>
                            </div>
                        </div>
                        <div class="col-md-4 tile">
                            <span>Średnia suma sąsiadów</span>
                            <h2 id="neighborsSum"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}

{% endblock %}
