{% extends 'base/base.html' %}

{% block title %}Dodaj użytkownika{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Nazwa użytkownika:</label>
            <input type="text" name="username" id="id_username" maxlength="30" value="{{ form.username.value|default:'' }}" required>
            {% with form.username.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_first_name">Imię:</label>
            <input type="text" name="first_name" id="id_first_name" maxlength="30" value="{{ form.first_name.value|default:'' }}">
            {% with form.first_name.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_last_name">Nazwisko:</label>
            <input type="text" name="last_name" id="id_last_name" maxlength="30" value="{{ form.last_name.value|default:'' }}">
            {% with form.last_name.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_email">E-mail:</label>
            <input type="email" name="email" id="id_email" value="{{ form.email.value|default:'' }}" required>
            {% with form.email.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_password1">Hasło:</label>
            <input type="password" name="password1" id="id_password1" required>
            {% with form.password1.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_password2">Powtórz hasło:</label>
            <input type="password" name="password2" id="id_password2" required>
            {% with form.password2.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

        <div>
            <label for="id_is_staff">W zespole:</label>
            <input type="checkbox" name="is_staff" id="id_is_staff" {% if form.is_staff.value %}checked{% endif %}>
        </div>

        <div>
            <label for="id_is_active">Aktywny:</label>
            <input type="checkbox" name="is_active" id="id_is_active" {% if form.is_active.value %}checked{% endif %}>
        </div>

        <button type="submit">Zarejestruj</button>
        <button type="reset">Wyczyść</button>
    </form>
{% endblock %}
