{% extends 'base/base.html' %}

{% block title %}{% if validlink %}Zmień hasło{% else %}Nieprawidłowy link{% endif %}{% endblock %}

{% block content %}
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_new_password1">Nowe hasło:</label>
                <input type="password" name="new_password1" id="id_new_password1" maxlength="255" required>
                {% with form.new_password1.errors as errors %}
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endwith %}
            </div>

            <div>
                <label for="id_new_password2">Powtórz:</label>
                <input type="password" name="new_password2" id="id_new_password2" maxlength="255" required>
                {% with form.new_password2.errors as errors %}
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endwith %}
            </div>

            <button type="submit">Zatwierdź</button>
            <a href="{% url 'registration:auth_login' %}">Przypomniałem sobie! - Zaloguj</a>
        </form>
    {% else %}
        <span>Nieprawidłowy link...</span>
    {% endif %}
{% endblock %}
