{% extends 'base/base.html' %}

{% block title %}Przypomnij hasło{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_email">
                Nie pamiętasz swojego hasła? Wprowadź w poniższym polu swój adres email,
                a My wyślemy Ci instrukcję opisującą sposób ustawienia nowego hasła.
            </label>
            <input type="email" name="email" id="id_email" maxlength="254">
            {% with form.email.errors as errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>
        <button type="submit">Zatwierdź</button>
        <a href="{% url 'registration:auth_login' %}">Przypomniałem sobie! - Zaloguj</a>
    </form>
{% endblock %}
